/*******************
* Custom properties
********************/

:root {
  /* primary colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* neutral colors */
  --darker-violet: hsl(270, 9%, 17%);
  --darker-grayish-violet: hsl(273, 4%, 51%);
  --light-gray: #bdbdbd;
  --lighter-gray: #ececec;
  --white: #f0f0f0;
  --gray: #646464;
  --black: #131313;

  --font-size: 16px;
  --text-font-family: Karla, sans-serif;
  --title-font-family: "DM Serif Display", serif;

  --max-width-page: 1440px;
  --side-padding: 10vw;

  --top-offset: 6vw;
}

/*******
* Reset
********/

html {
  font-size: var(--font-size);
  font-family: var(--text-font-family);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--title-font-family);
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

/***********
* Utilities
************/

/* font */

.upcase {
  text-transform: uppercase;
}

.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-gray {
  color: var(--gray)
}

.bg-color-violet {
  background-color: var(--dark-violet);
}

.bg-color-lightergray {
  background-color: var(--lighter-gray);
}

.text {
  font-size: max(0.9rem, 0.953vw);
  line-height: 1.8;
}

.title1{
  font-size: max(1.15rem, 4vw);
  font-size: 4.5rem;
}

.title2 {
  font-size: max(3.5rem, 3.3vw);
}

/* border */

.border-bottom-thin-solid {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-black {
  border-color: var(--black);
}

.border-white {
  border-color: var(--white);
}

.border-lightgray {
  border-color: var(--light-gray);
}

/* layout */

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

/* size */

.width-100per {
  width: 100%;
}

.width-50per {
  width: 50%;
}
.width-20per {
  width: 20%;
}

/* alignment */

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

/* spacing */

.m-top-5vw {
  margin-top: 5vw;
}

.m-top-3vw {
  margin-top: 3vw;
}

.m-top-2vw {
  margin-top: 2vw;
}

.m-bottom-5vw {
  margin-bottom: 5vw;
}

.m-bottom-3vw {
  margin-bottom: 3vw;
}

.m-bottom-2vw {
  margin-bottom: 2vw;
}

/****************
* Component menu
*******************************************************************
* Note to my future self.
*
* Hey Fabián, how is't going?
*
* This could easily be made by using just utility classes. I chose
* to make it a component because I see the oportunity to reuse it
* for the main menu and footer menu (social).
*
* It should be even easier by using a composition of utility classes
* to make the component but CSS doesn't have this feature (less
* pre-processor has it). Oh yea babe, code repetition is also a
* result of the lack of language features!
* 
* Todo:
*
* D n   You should check this implementation to improve it (there's room
*  o e  for improvement, for sure)
*
* You should implement this using the Less (and Sass?) preprocessor
*
* You should check Tailwind framework and how to use it with React
*
******************************************************************/

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  text-transform: uppercase;
  font-size: max(0.9rem, 0.8vw);
  letter-spacing: 2px;
}

.menu--horizontal {
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: max(1rem, 1vw);
  color: var(--gray);
}

.menu--vertical {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 1vw;
  color: var(--black);
}

.menu__title {
  font-size: max(0.9rem, 0.8vw);
  font-family: var(--text-font-family);
  margin-bottom: 2vw;
  letter-spacing: 2px;
}

.menu__item {
  text-decoration: none;
  color: inherit;
  font:inherit;
  letter-spacing: inherit;
  margin: inherit;
}

/******************
* Button component
*******************/

.btn {
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  color: inherit;
  background-color: inherit;
  width: max-content;
  letter-spacing: inherit;
}

/****************
* Card component
*****************/

.card {
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.card__icon {
  max-width: 30%;
}

.card__title {
  font-size: max(1.6rem, 1.6vw);
  font-weight: 600;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.card__text {
  font-size: max(0.9rem, 0.953vw);
  color: var(--gray);
  line-height: 1.8;
}

/*************
* Site Styles
**************/

.side-paddings {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.full-width {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);

  position: relative;
  width: 100%;
  left: calc(-1 * var(--side-padding));
}

.main-container {
  box-sizing: border-box;
  max-width: var(--max-width-page);
  background-color: var(--white);
}

.header {
  height: 4rem;
  align-items: center;
}

.intro-section {
  position: relative;
  width: 100%;
  left: calc(-1 * var(--side-padding));
}

.info {
  width: 50%;
  padding-right: 1.5rem;
  margin: var(--top-offset) 0;
}

.horizontal-line {
  width: 9vw;
}

.family-image {
  position: absolute;
  top: var(--top-offset);
  min-width: 150px;
}

.we-section {
  margin-top: 18vw;
  margin-bottom: var(--top-offset);
}

.more-section {
  box-sizing: border-box;
  padding: 4vw 5vw;
}

.page-footer {
  padding-top: 3vw;
  padding-bottom: 3vw;
}
